/* container fills viewport and scrolls */
.container {
  width: 100vw;
  min-height: 100vh;           /* ensure container = viewport */
}

.container::-webkit-scrollbar {
  display: none;           /* Chrome/Safari */
}

/* each section fills the viewport and snaps */
.section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* optional coloring */
.section:nth-child(1){
z-index: 1;
overflow: hidden;
}
.section:nth-child(2){
z-index: 4;
font-size: 40px;
}






.cookerContainerWrapper{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.cookerContainer{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 100vh;
    transform: translateY(200vh);
    z-index: 10;
}
.logoSection{
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: white;
  z-index: 1000;
}

.fallBackImage{
  width: 50vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}



.menu{
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: end;
  justify-content: center;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 50px;
  position: absolute;
  left: 10px;
  bottom: 100px;
}
.text{
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 20px;
  position: absolute;
  left: 0px;
  top: 10px;
  text-align: center;
}