.container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;



    /* ✅ Background image setup */
    background-image: url('/restuarantint2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



.innerContainer {
    border: 1px solid rgba(255, 255, 255, 0.4);
    width: 95vw;
    height: 85vh;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translateY(-25px);

}

.door {
    width: 200px;
    height: 250px;
    position: absolute;
    bottom: -60px;
    opacity: 0;
    z-index: 1;
}

.landingImageContainer {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 50px;
    z-index: 3;
}

.name {
    position: absolute;
    bottom: 10px;
    color: white;
    font-size: 20px;
    left: 20px;
}

.callToAction {
    width: 100vw;
    height: 100vh;
    position: absolute;
    transform: translateY(100vh);
    z-index: 2;
}

.procedures {
    position: absolute;
    transform: translateY(100vh);
    z-index: 4;

}

.sceneContainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    right: 0px;
    transform: translateY(100vh);
    display: flex;
    align-items: center;
    justify-content: center;
}

.leavesContainer {
    width: 100%;
    height: 40vh;
    position: absolute;
    bottom: -70px;
    z-index: 4;
    display: flex;
    justify-content: space-around;
}

.firstLeaf,
.secondLeaf {
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    transform: rotate(0deg);
}