/* mobileHomePage.module.css */

/* Wrapper for ScrollSmoother */
.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

/* Required by ScrollSmoother */
#smooth-wrapper {
  height: 100%;
  overflow: hidden;
}
#smooth-content {
  will-change: transform;
}

/* Each snap section */
.snap-section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}



/* Optional: Scene container for 3D Canvas */
.sceneContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* behind content */
}

.secondSection,.thirdSection,.threeDLandingSection,.threeDFinalSection,.procedure{
  width: 100vw;
  height: 100vh;
  position: relative;
}

.logoSection{
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: white;
  z-index: 10;
}
.procedure p{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  font-weight: 900;
  letter-spacing: 5px;
}


.fallBackImage{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cookerContainerWrapper{
    width: 100vw;
    display: flex;
    justify-content: end;
}
.cookerContainer{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 300vh;
}