.mainLogoContainer {
  position: fixed; /* prevents body scroll */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* hide visual overflow from transforms */
  z-index: 100;
}

.logoSubContainer {

  background-color: #222;
  border-radius: 50%;
  height: 110px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(50px) scale(1.5);
  opacity: 0;
}

.shapes {
  position: relative;
  width: 50px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: translateX(50px);


}

.ridContainer,
.plateContainer,
.handContainer,.upperHandContainer {
  height: 90px;
  width: 90px;

}

.ridContainer svg,
.handContainer svg,
.plateContainer svg {
  fill: #ede7c7;
  fill-rule: evenodd;
}

.handContainer svg {

  stroke: orange;
  stroke-width: 2px;
}

.ridContainer{
  transform: translateY(20px);
  opacity: 0;
}
.plateContainer {
  transform: translateY(-30px);
  opacity: 0;
}

.handContainer {
  transform: translateY(-90px) scale(0.75) rotate(75deg);
  opacity: 0;
}


.brandName {
  color: white;
  font-size: 60px;
  transform: translateX(25px) translateY(20px);
  font-family: 'MsMadi';
}




.folkAndSpoons {
  height: 80px;
  width: 100px;
  display: flex;
  transform: translateX(2px) translateY(7px);
  z-index: 1;

}

.folkContainer,
.spoonContainer,
.knifeContainer {
  position: absolute;
  height: 90px;
}


.folkContainer svg,
.spoonContainer svg,
.knifeContainer svg {
  fill:black;
  fill-rule: evenodd;
  transform: scale(0.4);
}

.folkContainer {
  transform: translateX(-15px) translateY(22px);
  opacity: 0;
}

.knifeContainer {
  transform: translateX(15px) translateY(22px);
  opacity: 0;
}

.spoonContainer{
  opacity: 0;
  transform: translateY(22px);
}


.cup{
  height: 80px;
  width: 60px;
  transform: rotate(20deg);
  display: none;
}
.cup svg{
  fill: #ede7c7;
  fill-rule: evenodd;
}


.loadingContainer{
  position: absolute;
  bottom: 5vh;
  width: 100vw;
  height:20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}


.loadingBar {
  background-color: #ecc5a7;
  width: 300px;
  height: 5px;
  border-radius: 20px;
  overflow: hidden; /* ensures fill doesn't overflow */
}
@media (max-width:700px) {
  .loadingBar{
    width: 200px;
  }
}

.loadingFill {
  background-color: rgb(54, 52, 52);
  height: 100%;
  width: 0%;
  border-radius: 20px;
}


.upperHandContainer{
  transform:  translateX(80px) translateY(-80px) rotate(-130deg) scale(1.5);
  opacity: 0;
}

.chefHatContainer{
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-60px) translateY(-20px) scale(0.5);
  opacity: 0;
}

.loading{
  transform: translateY(20px);
}