.mainLogoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;

}

.logoSubContainer {

  background-color: orangered;
  border-radius: 50%;
  height: 110px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-150px);
  opacity: 0;
}

.shapes {
  position: relative;
  width: 50px;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: translateX(50px);


}

.ridContainer,
.plateContainer,
.handContainer {
  height: 90px;
  width: 90px;

}

.ridContainer svg,
.handContainer svg,
.plateContainer svg {
  fill: #ede7c7;
  fill-rule: evenodd;
}

.handContainer svg {

  stroke: orange;
  stroke-width: 2px;
}

.ridContainer{
  transform: translateY(-20px);
  opacity: 0;
}
.plateContainer {
  transform: translateY(-85px);
  opacity: 0;
}

.handContainer {
  transform: translateY(-100px) scale(0.5);
  opacity: 0;
}


.brandName {
  color: white;
  font-size: 60px;
  transform: translateX(25px) translateY(20px);
  font-family: 'MsMadi';
}




.folkAndSpoons {
  height: 80px;
  width: 100px;
  display: flex;
  transform: translateX(2px) translateY(7px);
  z-index: 1;

}

.folkContainer,
.spoonContainer,
.knifeContainer {
  position: absolute;
  height: 90px;
}


.folkContainer svg,
.spoonContainer svg,
.knifeContainer svg {
  fill: orangered;
  fill-rule: evenodd;
  transform: scale(0.4);
}

.folkContainer {
  transform: translateX(-15px) translateY(20px);
  opacity: 0;
}

.knifeContainer {
  transform: translateX(15px) translateY(20px);
  opacity: 0;
}

.spoonContainer{
  opacity: 0;
  transform: translateY(20px);
}


.cup{
  height: 80px;
  width: 60px;
  transform: rotate(20deg);
  display: none;
}
.cup svg{
  fill: #ede7c7;
  fill-rule: evenodd;
}


.loadingContainer{
  position: absolute;
  bottom: 5vh;
  width: 100vw;
  height:20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  color: orangered;
}


.loadingBar {
  background-color: #200e00;
  width: 20%;
  height: 5px;
  border-radius: 20px;
  overflow: hidden; /* ensures fill doesn't overflow */
}

.loadingFill {
  background-color: orangered;
  height: 100%;
  width: 0%;
  border-radius: 20px;
}
