.wrapper {
  overflow: hidden; /* REQUIRED for ScrollSmoother */
  height: 100%;
}





.cookerContainerWrapper{
    width: 100vw;
    display: flex;
    justify-content: end;
}
.cookerContainer{
    position: absolute;
    width: 50vw;
    height: 100vh;
    top: 100vh;
    transform: translateY(100px);
}
.heroSection,
.painPointsSection,
.menuSection {
  height: 100vh;
  width: 100vw;
}
.menuListSection {
  height: 100vh;
  width: 100vw;
  position: relative;
  scroll-snap-align: none; /* ignore snapping */
}
.content {
  padding-bottom: 1px; /* ensures ScrollSmoother scrolls to the end */
}



.logoSection{
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: white;
  z-index: 10;
}

.fallBackImage{
  width: 50vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}