.container {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    opacity: 1;
}

.RestauratNameContainer {
    position: absolute;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.name {
    font-size: 120px;
    letter-spacing: 30px;
    font-weight: 900;
}

.heroVideoContainer {
    position: relative;
    top: 0vh;
    height: 50%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    display: flex;
    justify-content: center;
}

.heroVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px;
}

.phraseContainer {
    position: relative;
    width: 50%;
    height: 40%;
    top: 6vh;
    display: flex;
    align-items: center;
    transform: translateY(20vh);

}

.phraseCard {
    width: 50vw;
    height: 95%;
    position: relative;
    left: 5vw;
    background-color: rgba(255, 68, 0, 0.678);
    display: flex;
    justify-content: space-between;
    cursor: default;
}

.phrase {
    width: 50%;
    padding: 20px 30px;
    color: white;
    position: relative;
    transition: transform 0.4s ease-in-out;
}

.phrase:hover {
    transform: translateY(-5px);
}

.phrase p {

    transition: transform 0.4s ease-in-out;
}

.phrase p:hover {
    transform: scale(1.02);
}

.phraseFoodImage {
    width: 250px;
    height: 250px;
    position: relative;
}

.phraseFoodImage img {
    transition: transform 0.4s ease-in-out;
    position: absolute;
}

.phraseFoodImage:hover img {
    transform: rotate(45deg) translateY(-10px) scale(1.05);
}

.callToAction {
    position: absolute;
    width: 150px;
    height: 35px;
    background-color: aliceblue;
    border-radius: 20px;
    color: orangered;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    transform: translateY(20px);
    transition: transform 0.4s ease-in-out, box-shadow 0.3s ease-in-out;

}

.callToAction:hover {
    transform: translateY(18px);
    box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.2);
}

.arrow {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    left: 10px;
    transition: transform 0.2s ease-in;
}

.arrow:hover {
    transform: translateY(-2px) scale(1.1) rotate(25deg);
}

.orderNow {

    transition: transform 0.2s ease-in;
}

.orderNow:hover {
    transform: translateY(-2px) scale(1.1)
}

.borderContainer {

    width: 45%;
    height: 100%;
    position: absolute;
    top: 10px;
    left: 6vw;
}


.menuAndTimeContainer {
    width: 35vw;
    height: 35vh;
    position: absolute;
    right: 50px;
    bottom: 28px;
    display: flex;
    justify-content: space-around;
    align-items: end;

}

.menuContainer,
.deliveryTime {
    position: relative;
    width: 35%;
    height: 90%;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: white;
    transition: transform 0.3s ease-in-out, box-shadow 0.1s ease-in-out;
    cursor: pointer;
    opacity: 0;
    transform: translateY(30vh);
}

.deliveryTime:hover {
    transform: translateY(-15px);
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.3);
}

.menuContainer:hover {
    transform: translateY(-15px);
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.3);
}